<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiyoon.kakaopaytask1.mapper.ReceiveMapper">

	<select id="selectReceiveListByToken" resultType="Receive"> 
		SELECT *
		  FROM receive
		 WHERE token = #{token}
	</select>
	
	<update id="updateUserIdBySeq" parameterType="Receive">
		UPDATE receive
		   SET user_id = #{userId}
		 WHERE token = #{token}
		   AND seq = #{seq}
    </update>
	
	<insert id="insertReceive" parameterType="Receive">
		INSERT INTO receive (token, seq, amount, user_id)
		VALUES (#{token}, #{seq}, #{amount}, #{userId})
    </insert>

</mapper>